html, body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%; }

.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 600px;
  border: 2px solid #404040; }

#pncks {
  width: 100%;
  height: 100%; }

.row {
  display: flex;
  overflow: auto; }

.row .group {
  flex-grow: 1; }
